@model SQ.CDT_SINAI.Shared.Models.EstablishmentType

@{
    ViewData["Title"] = "Novo Tipo de Estabelecimento";
}

<div class="container mt-5">
    <h2>Novo Tipo de Estabelecimento</h2>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label>Nome do Tipo</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success mt-3">Salvar</button>
        <a asp-action="Index" class="btn btn-secondary mt-3">Voltar</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}